*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding-inline-start: 0px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  border: none;
}

:root {
  --color-primary: #ffffff;
  --color-secondary: #cccf18;
  --color-tertiary: #f3949a;
  --background-color: #1e1e1e;

  --primary-font: "Roboto";
  --secondary-font: "Saira Stencil One";
}
