*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding-inline-start: 0px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  border: none;
}
